/*Estilo para el formulario de escuela :D*/
body {
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(to right, #d7fbff, hsl(165, 100%, 95%));
  padding: 20px;
  margin: 0;
}

h2 {
  text-align: center;
  color: #000;
  font-size: 32px;
  margin-bottom: 30px;
}

form {
  background-color: rgba(255, 255, 255, 0.574);
  padding: 30px;
  max-width: 1200px;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
}

label {
  display: block;
  margin-top: 15px;
  font-size: 18px;
  color: #000000;
  font-weight: 500;
}

input, select, textarea {
  width: 100%;
  padding: 12px;
  margin-top: 6px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 16px;
}

input[type="radio"],
input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

input[type="submit"], button {
  margin-top: 15px;
  padding: 14px;
  width: 100%;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 18px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #43a047;
}

button {
  background-color: #f44336;
}

button:hover {
  background-color: #e53935;
}

textarea {
  resize: vertical;
  min-height: 80px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
  margin: 3rem auto 2rem auto;
  padding-top: 2rem;
}


table {
  width: auto;
  border-collapse: collapse;
  background-color: white;
  border: 1px solid #cccccc;
  min-width: 800px;
  font-size: 0.95rem;
  margin: auto;
  align-content: center;
}

thead { 
  background-color: #3498db;
  color: white;
}

th, td {
  padding: 0.8rem;
  text-align: left;
  border: 1px solid #cccccc;
}

th:nth-child(1), td:nth-child(1) {
  width: 200px;
}

th:nth-child(2), td:nth-child(2) {
  width: 200px;
}

th:nth-child(3), td:nth-child(3) {
  width: 100px;
}

th:nth-child(4), td:nth-child(4) {
  width: 140px;
}

th:nth-child(5), td:nth-child(5) {
  width: 100px;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ffffff;
}

@media (max-width: 800px) {
  form {
    padding: 20px;
    max-width: 100%;
  }

  h2 {
    font-size: 26px;
  }

  label {
    font-size: 16px;
  }

  input, select, textarea {
    font-size: 16px;
  }

  input[type="submit"], button {
    font-size: 18px;
    padding: 12px;
  }

  .table-container::-webkit-scrollbar {
    height: 8px;
  }
  .table-container::-webkit-scrollbar-thumb {
    background: #8a8a8a;
    border-radius: 10px;
  }
  .table-container::-webkit-scrollbar-thumb:hover {
    background: #525252;
  }

}
